<h1 class="page-header">{{name}}</h1>

<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{name}}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" aria-expanded="true">Operator Balance
          <button class="btn btn-info" type="button" (click)="getBalance()">
            <i class="fa fa-refresh"></i>
          </button></a>
        </li>
        <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Optional2</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
       <!-- <div class="tab-pane fade active in" id="home">-->
        <br/>
          <div *ngIf="showResult">
            <table width="100%" class="success table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
              <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending"
                    style="width: 171px;">Operator Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1"
                    style="width: 207px;">Balance
                </th>
              </tr>
              </thead>
              <tbody>

              <tr class="gradeA odd" role="row" >
                <td class="sorting_1"><b>Merchant Balance </b></td>
                <td class="center">{{ response.operatorBalance.MERCHANT_BALANCE }}</td>
              </tr>
              <tr class="gradeA odd" role="row" >
                <td class="sorting_1"><b>IND01 Balance </b></td>
                <td class="center">{{ response.operatorBalance.IND01 }}</td>
              </tr>

              <tr class="gradeA odd" role="row" >
                <td class="sorting_1"><b>GLO Balance </b></td>
                <td class="center">{{ response.operatorBalance.GLO }}</td>
              </tr>
              <tr class="gradeA odd" role="row" >
                <td class="sorting_1"><b>Airtel </b></td>
                <td class="center">{{ response.operatorBalance.AR }}</td>
              </tr>
              <tr class="gradeA odd" role="row" >
                <td class="sorting_1"><b>ET </b></td>
                <td class="center">{{ response.operatorBalance.ET }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        <div class="alert alert-danger" *ngIf="showError">
          {{ message }} <button class="btn btn-danger" type="button" (click)="getBalance()">
          <i class="fa fa-refresh"></i> </button>
        </div>
      </div>
      <div class="tab-pane fade" id="profile">
          <h4>Not Implemented Tab</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      </div>
  </div>
</div>
