<h1 class="page-header">{{name}}</h1>
<form [formGroup]="transactionForm" (ngSubmit)="onSubmit(transactionForm)">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="orderNumbers"  placeholder="Enter Order Number" />
      <div class="alert alert-danger" [hidden]="transactionForm.controls.orderNumbers.valid">Order Number is required</div>
      <br  *ngIf="showError"/>
      <div class="alert alert-danger" *ngIf="showError">
        {{ message }}
      </div>
    </div>
    <button type="submit" class="btn btn-outline btn-success"class="btn btn-outline btn-success" [disabled]="!transactionForm.valid">Submit</button>
</form>
<br/>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="false" data-parent="#accordion" (click)="showPgTransaction=!showPgTransaction">Transaction(PG)</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in"  *ngIf="showPgTransaction">
        <div class="panel-body">
          <div class="row show-grid">
            <div class="col-md-3 ">Status(Overall) : <b>{{ customResponse.pgTransaction.status }}</b></div>
            <div class="col-md-3 ">Status(Wallet) : <b> {{ customResponse.pgTransaction.wallet_status }}</b></div>
            <div class="col-md-3 ">Status(TPP) : <b>{{ customResponse.pgTransaction.tpp_status }} </b></div>
            <div class="col-md-3 ">Status(SC) : <b>{{ customResponse.pgTransaction.sc_status }} </b></div>
          </div>
          <br/>
          <div class="row show-grid">
            <div class="col-md-3 ">Amount(Total) :<b> {{ customResponse.pgTransaction.total_amount }}</b></div>
            <div class="col-md-3">Amount(Wallet) : <b>{{ customResponse.pgTransaction.wallet_amount }}</b></div>
            <div class="col-md-3">Amount(SC):<b>{{ customResponse.pgTransaction.ser_amount }} </b></div>
            <div class="col-md-3">Amount(TPP) :<b>{{ customResponse.pgTransaction.tpp_amount }} </b></div>
          </div>
          <br/>
          <div class="row show-grid">
            <div class="col-md-3 ">Status(Rollback) :<b> {{ customResponse.pgTransaction.rollback_status }}</b></div>
            <div class="col-md-3">Status(Refund) : <b>{{ customResponse.pgTransaction.refund_status }}</b></div>
            <div class="col-md-3">Status(Reversal):<b>{{ customResponse.pgTransaction.reversal_status }} </b></div>
            <div class="col-md-3">Status(Sc Rollback) :<b>{{ customResponse.pgTransaction.sc_rollback_status }} </b></div>
          </div>
          <br/>
          <div class="row show-grid">
            <div class="col-md-3 ">Payment Type<b> {{ customResponse.pgTransaction.payment_type }}</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="false" data-parent="#accordion" (click)="showPgIntegration=!showPgIntegration">Payment Integration(PG)</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in"  *ngIf="showPgIntegration">
        <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
          <thead>
          <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending"
               style="width: 171px;">Transaction Type
            </th>
            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1"
                style="width: 207px;">Payment Type
            </th>
            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1"
                style="width: 188px;">Status(Response)
            </th>
            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1"
                style="width: 148px;">Error Code
            </th>
            <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1"
                style="width: 148px;">Created On
            </th>
           </tr>
          </thead>
          <tbody>
          <tr class="gradeA odd" role="row"  *ngFor="let intr  of customResponse.paymentIntegration">
            <td class="sorting_1"><b>{{ intr.transaction_type }} </b></td>
            <td class="center">{{ intr.payment_type }}</td>
            <td class="center"> {{ intr.res_status }}</td>
            <td class="center"> {{ intr.error_code }}</td>
            <td class="center">{{ intr.created_on }}</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="false" data-parent="#accordion" (click)="showAgTransaction=!showAgTransaction" >Transaction(AGGR)</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in"  *ngIf="showAgTransaction">
        <div class="panel-body">
          <div class="row show-grid">
            <div class="col-md-3 ">Status: <b>{{ customResponse.agTransaction.status }}</b></div>
            <div class="col-md-3 ">Txn Id:<b> {{ customResponse.agTransaction.transaction_id }}</b></div>
            <div class="col-md-3 ">Order Number <b>{{ customResponse.agTransaction.order_number }} </b></div>
            <div class="col-md-3 ">Went in Queue? : <b>{{ customResponse.agTransaction.went_in_queue }} </b></div>
          </div>
          <br/>
          <div class="row show-grid">
            <div class="col-md-3 ">Offer Code : <b>{{ customResponse.agTransaction.offer_code }}</b></div>
            <div class="col-md-3 ">Platform : <b> {{ customResponse.agTransaction.platform }}</b></div>
            <div class="col-md-3 ">Service Type : <b>{{ customResponse.agTransaction.service_type }} </b></div>
            <div class="col-md-3 ">Vendor : <b>{{ customResponse.agTransaction.vendor }} </b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="false" data-parent="#accordion" (click)="showOfTrannsacton=!showOfTransacton" >Offer(AGGR)</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse in"  *ngIf="showOfTransacton">
        <div class="panel-body">
          <div class="row show-grid">
            <div class="col-md-3 ">Status: <b>{{ customResponse.ofTransaction.txn_status }}</b></div>
            <div class="col-md-3 ">Code : <b> {{ customResponse.ofTransaction.coupon_code }}</b></div>
            <div class="col-md-3 ">Value : <b>{{ customResponse.ofTransaction.offer_value }} </b></div>
            <div class="col-md-3 ">Type : <b>{{ customResponse.ofTransaction.type }} </b></div>
          </div>
          <br/>
          <div class="row show-grid">
            <div class="col-md-3 ">Txn ID : <b>{{ customResponse.ofTransaction.txn_id }}</b></div>
            <div class="col-md-9 ">Error Message : <b>{{ customResponse.ofTransaction.error_message }}</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
