h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2 {
  color: #363;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
h3 {
  color: #362;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
}
